<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>

<div th:insert="~{includes/header :: header}"></div>

<div class="pricing-header pt-md-4 pb-md-4  mx-auto text-center">
    <h1 class="display-4 m-0">Profile Page</h1>
</div>

<main class="container mt-5 w-50">
    <table class="table table-hover w-50">
        <tbody>
        <tr>
            <td>First name</td>
            <td th:text="${user.getFirstName()}"></td>
        </tr>
        <tr>
            <td>Last name</td>
            <td th:text="${user.getLastName()}"></td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td th:text="${user.getNickname()}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
        <tr>
            <td>Group</td>
            <td th:text="${user.getGroup().getName()}"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td th:text="${user.getAge()}"></td>
        </tr>
        <tr th:if="${user.getInterests().isEmpty()}">
            <td>Interest</td>
            <td>You have not chose interest.</td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/users/edit}">Update profile</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="bd-example" th:unless="${user.getInterests().isEmpty()}">
        <h1 class="btn btn-primary m-1 disabled" data-toggle="button"
            th:each="interest : ${user.getInterests()}"
            th:text="${interest.getName()}">
        </h1>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm w-75" th:with="result = ${lastVotes.isEmpty()}">
        <h6 class="border-bottom pb-2 mb-0" th:if="${result}">You have no recent votes</h6>
        <h6 class="border-bottom pb-2 mb-0" th:unless="${result}">Recent votes:</h6>
        <div class="text-muted pt-3" th:each="vote : ${lastVotes}">
            <h5 class="d-block fw-bold text-gray-dark" th:text="|Question: ${vote.getQuestion().getTitle()}|">Question
                Title</h5>
            <p class="pb-3 mb-0 small lh-sm border-bottom" th:text="|Your vote: ${vote.getOption().getTitle()}|">
                Option Title
            </p>
        </div>
    </div>

    <div th:insert="~{includes/footer :: footer}"></div>
</main>
</body>
</html>