<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>

<div th:insert="~{includes/header :: header}"></div>

<main class="container">
    <div th:if="${param.success}" class="alert alert-success w-25 mx-auto text-center">
        Success!
    </div>

    <div class="row p-5 row-cols-1 row-cols-md-2 g-4">
        <div th:each="question : ${questions}" class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${question.key.getTitle()}">Question Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush" th:each="option : ${question.key.getOptions()}">
                    <li class="list-group-item d-flex align-items-center">
                        <form th:method="PUT" th:action="@{/options}" class="form-check-inline w-100 d-flex justify-content-between">
                            <input type="hidden" name="option" th:value="${option.getId()}">
                            <label>
                                <input class="form-control" type="text" name="title" th:value="${option.getTitle()}">
                            </label>
                            <button class="btn-success btn-sm my-auto">Save</button>
                        </form>

                        <form th:method="DELETE" th:action="@{/options}" class="form-check-inline">
                            <input type="hidden" name="option" th:value="${option.getId()}">
                            <button class="btn-danger btn-sm">Delete</button>
                        </form>
                    </li>
                </ul>
                <div class="card-body">
                    <p class="card-text m-0 mb-2">Create new option</p>
                    <form th:method="POST" th:action="@{/options}" class="form-check-inline w-100 d-flex justify-content-between">
                        <input type="hidden" name="question" th:value="${question.getKey().getId()}">
                        <label>
                            <input class="form-control" type="text" name="title">
                        </label>
                        <button style="width: 23%;" class="btn-secondary btn-sm my-auto mx-3">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>