<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All authorities</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{includes/header :: header}"></div>

<div th:if="${param.success}" class="alert alert-success w-25 mx-auto text-center">
    Success!
</div>


<main class="container">
    <div class="card  w-50 mx-auto mt-5">
        <div class="card-body">
            <h5 class="card-title m-0 mb-2">Create new authority</h5>
            <form th:method="PUT" th:action="@{/authorities/create}"
                  class="form-check-inline w-100 d-flex justify-content-between">
                <label>
                    <input class="form-control" type="text" name="authorityName">
                </label>
                <button style="width: 23%;" class="btn-primary btn-sm my-auto mx-3">Create</button>
            </form>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-sm-3 my-1" th:each="authority : ${authorities}">
                <div class="card">
                    <div class="card-body text-center">
                        <form th:method="PUT" th:action="@{/authorities}">
                            <h5 class="card-title" th:text="${authority.getId()}"></h5>
                            <input class="mt-2 form-control" name="name" th:value="${authority.getName()}"/>
                            <button class="mt-2 btn btn-success btn-sm h-100 w-100" type="submit">Update</button>
                        </form>
                        <form class="mt-2" th:method="DELETE" th:action="@{/authorities}">
                            <input type="hidden" name="authority" th:value="${authority.getId()}">
                            <button class=" btn btn-danger btn-sm h-100 w-100" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--<main class="container my-5">-->
<!--    <div class="row mx-auto w-75 border-bottom border-dark">-->
<!--        <div class="col-1 mb-2">ID</div>-->
<!--        <div class="col mb-2">Name</div>-->
<!--        <div class="col mb-2"></div>-->
<!--        <div class="col mb-2"></div>-->
<!--    </div>-->
<!--    <div class="py-2 row mx-auto w-75 border-bottom" th:each="authority : ${authorities}">-->
<!--        <form th:method="PUT" th:action="@{/authorities}">-->
<!--            <div class="col-1" th:text="${authority.getId()}">ID</div>-->

<!--            <label class="col">-->
<!--                <input class="form-control" name="name" th:value="${authority.getName()}"/>-->
<!--            </label>-->
<!--            <div class="col">-->
<!--                <button class=" btn btn-primary btn-sm h-100 w-50" type="submit">Update Authority</button>-->
<!--            </div>-->
<!--        </form>-->
<!--        <form th:method="DELETE" th:action="@{/authorities}">-->
<!--            <div class="col">-->
<!--                <input type="hidden" name="authority" th:value="${authority.getId()}">-->
<!--                <button class=" btn btn-danger btn-sm h-100 w-50" type="submit">Delete Authority</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</main>-->
</body>
</html>