<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body class="text-center">
    <main class="form-login">
        <form th:method="POST" th:action="@{/users}" th:object="${user}">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <p class="error-msg" th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</p>
            </div>

            <label for="firstName" class="visually-hidden">First Name</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control my-1" placeholder="First Name" required autofocus>

            <label for="lastName" class="visually-hidden">Last name</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control my-1" placeholder="Last name" required>

            <label for="nickname" class="visually-hidden">Nickname</label>
            <input type="text" id="nickname" name="nickname" th:field="*{nickname}" class="form-control my-1" placeholder="Nickname" required>

            <label for="email" class="visually-hidden">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}" class="form-control my-1" placeholder="Email" required>

            <label for="group" class="visually-hidden">Group</label>
            <select id="group" name="group" th:field="*{group}" class="form-control my-1" required>
                <option value="">Choose your group</option>
                <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getName()}">Group name</option>
            </select>

            <label for="interests" class="visually-hidden">Interests</label>
            <select id="interests" name="interests" th:field="*{interests}" class="form-control my-1" required multiple>
                <option th:each="interest : ${interests}" th:value="${interest.getId()}" th:text="${interest.getName()}">Interest name</option>
            </select>

            <label for="age" class="visually-hidden">Age</label>
            <input type="number" id="age" name="age" th:field="*{age}" class="form-control my-1" placeholder="Age" required>

            <label for="password" class="visually-hidden">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control my-1" placeholder="Password" required>

            <button class="w-100 btn btn-lg btn-success my-1" type="submit">Sign up</button>
        </form>
        <form th:action="@{/login}">
            <button class="w-100 btn btn-lg btn-success my-1" type="submit">Login</button>
        </form>
    </main>
</body>
</html>