<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vote Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>

<header th:insert="~{includes/header :: header}"></header>

<div>
    <div class="bd-example container">
        <div class="row  row-cols-1 row-cols-md-2 g-4">

            <div th:each="question : ${questions}" class="col">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>

                    <div class="card-body">
                        <form th:method="POST" th:action="@{/questions}">
                            <h5 class="card-title" th:text="${question.key.getTitle()}">Question Title</h5>
                            <input type="hidden" name="question" th:value="${question.key.getId()}" />
                            <p class="card-text">Choose preferred option: </p>
                            <div th:each="option : ${question.key.getOptions()}">
                                <label>
                                    <input
                                            type="radio"
                                            name="option"
                                            th:disabled="${question.value}"
                                            th:value="${option.getId()}"
                                            required
                                    />
                                </label>
                                <span th:text="${option.getTitle()}">Option Title</span>
                            </div>
                            <button th:disabled="${question.value}" type="submit">Vote</button>
                        </form>
                    </div>

                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>