<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">J'uVotes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item active mx-2">
                        <a class="nav-link" aria-current="page" th:href="@{/users}">Profile</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" th:href="@{/home}">Vote page</a>
                    </li>
                    <li class="nav-item mx-2" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Questions and Options</a>
                    </li>
                    <li class="nav-item mx-2" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/all-users}">Role page</a>
                    </li>
                    <li class="nav-item mx-2" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/roles}">Roles and Authorities</a>
                    </li>
                </ul>
                <a th:href="@{/logout}" class="d-flex btn btn-outline-success mx-2">
                    Logout
                </a>
            </div>
        </div>
    </nav>
</div>